html { background-color: #EEE; }
.yui-d0 {margin:auto;}
#doc3 { margin: auto; }
#hd { padding: 6px; background-color: #FFFFCC; border-bottom: 1px dotted #666; font-size: 13px; }
#hd .fclose { background-color: #CC0000; padding: 2px; color: #ffffff; }
#hd .fclose a { color: #ffffff; text-decoration: none; }

#ft { width: 98%; margin: 0 auto; margin-top: 0; text-align: center; height: 40px;}
#msg { font-size: 14px; width: 98%; padding: 3px; }

#wall { width: 98%; margin: 0 auto; padding-top: .5em; overflow: auto;}
#stream {}
#stream li { background-color: #FFFFFF; padding: 8px; font-size: 14px; margin-bottom: 1px; color: #444; }
#stream li strong { font-weight: bold; color: #000; margin-right: .4em; padding: 3px; background-color: #EEE; }
